MC_HOST=localhost
MC_PORT=25565
MC_USERNAME=05SynergyPvlls
MC_VERSION=1.20.4

LLAMA_URL=http://127.0.0.1:11111/v1
LLAMA_API_KEY=no-key-required
LLAMA_MODEL=

COMMAND_PASSWORD=epwd
SECURITY_ENABLED=true
SECURITY_OWNER=EliteSynergy
FRIENDLY_PLAYERS=
HOSTILE_PLAYERS=

AUTO_EAT=true
AUTO_EQUIP_ARMOR=true

DEFAULT_TASK_PRIORITY=medium
AGENT_MAX_STEPS=24
AGENT_TEMPERATURE=0.2
AGENT_MAX_TOKENS=900
AGENT_OBSERVATION_RADIUS=20
